<div class="container">
  <div class="cabecalho">
    <h1>Cadastro de Usuários</h1>
    <a [routerLink]="['novo-usuario']">Novo Usuário</a>
  </div>

  <div class="atualizar">
    <button (click)="onRefresh()">Atualizar</button>
  </div>

  <div class="mt-5 tabela">
    <table class="table table-bordered table-warning" *ngIf="usuarios$ |async as usuarios; else loading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Setor</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios ">
          <td>{{usuario.id}}</td>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.setor}}</td>
          <td>
            <div class="botoes">
              <button class="deletar">Deletar</button>
              <button class="editar">Editar</button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <ng-template #loading>
    <div class="carregando">
      <div *ngIf="error$ | async; else loadingNoError">
        Erro ao carregar...
      </div>
      <ng-template #loadingNoError>
        <div class="spinner-border text-warning load" role="status">

        </div>
      </ng-template>
    </div>
  </ng-template>
</div>
