.container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gold;
  padding: 2rem;
  width: 400px;
  border-radius: 10px;
}

.login input{
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 80%;
  background-color: lightyellow;
  border: 1px solid goldenrod;
}

.login button{
  margin-top: 0.25rem;
  border: none;
  width: 75%;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #363636;
  color: gold;
  font-size: 1rem;

}

.login button:hover{
  background-color: darkgoldenrod;
  color: #363636;
}
