<div class="container">
  <div class="row mb-4">
    <div class="col-sm-4">
      <div class="cadastro">
          <h5>Cadastros Gerais</h5>
          <ul>
          <li>
            <a [routerLink]="['/usuarios']" routerLinkActive="active-cadastro">Usuários</a>
          </li>
          <li>
            <a>Clientes</a>
          </li>
          <li>
            <a>Empregados</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cadastro">
        <h5>Cadastros Financeiro</h5>
        <ul>
        <li>
          <a>Bancos</a>
        </li>
        <li>
          <a>Pagamentos</a>
        </li>
        <li>
          <a>Contas</a>
        </li>
      </ul>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="cadastro">
        <h5>Cadastros Produtos</h5>
        <ul>
        <li>
          <a>Produtos</a>
        </li>
        <li>
          <a>Tipos</a>
        </li>
        <li>
          <a>Fornecedores</a>
        </li>
      </ul>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="lancamentos">
        <h5>Estoque</h5>
        <ul>
        <li>
          <a>Controle</a>
        </li>
        <li>
          <a>Clientes</a>
        </li>
        <li>
          <a>Relatórios</a>
        </li>
      </ul>
    </div>
    </div>

    <div class="col-sm-4">
      <div class="lancamentos">
        <h5>Vendas</h5>
        <ul>
        <li>
          <a>Orçamento</a>
        </li>
        <li>
          <a>Vendas</a>
        </li>
        <li>
          <a>Relatórios</a>
        </li>
      </ul>
    </div>
    </div>

    <div class="col-sm-4">
      <div class="lancamentos">
        <h5>Financeiro</h5>
        <ul>
        <li>
          <a>Contas a Pagar</a>
        </li>
        <li>
          <a>Contas a Receber</a>
        </li>
        <li>
          <a>Relatórios</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
